
body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: gray !important;
}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

h2{
  background-color: antiquewhite;
}
.comperisoncontainer{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.comperoisonBox{
  background: white;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comperisonInfoBox{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  word-break: break-all;
}
.removeIcon{
  margin-left: auto;
  padding: 0 10px;
  cursor: pointer;
}
.mr-1{
  margin-right: 10px;
}